
:root {
  background: #e3effb;
}

:target {
  background: #384047;
  color: white;
}

#col-c:target {
  background: #eff1f2;
  color: initial;
  box-shadow: 10px 10px 6px rgba(0,0,0, .2);
}
#col-b:target {
	background: #cce6ff;
	color: #660000;
	box-shadow: 5px 10px 6px rgba(10,5,8, .2);
}






input:not([type="submit"]) {
	box-shadow:inset 10px 5px 10px 5px rgba(10,5,8, .15); 	
}





